<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
    <link rel="stylesheet" href="/styleprofile.css">
</head>
<body>
    <header>
        <h1>PixiePost</h1>
    </header>
    <form method="post" action="/profile/<%=username%>/post/<%=post.id%>/edit">
        <textarea name="image" class="text-area"><%=post.image%></textarea>
        <br>
        <br>
        <textarea name="caption" class="text-area"><%=post.caption%></textarea>
        <br>
        <br>
        <button class="edit btn">Make Changes</button>
    </form>
</body>
</html>