<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main">
        <h1>PixiePost</h1>
        <h4>Login Page</h4>
        <form method="POST" action="/login">
            <input type="text" placeholder="Enter username" name="username">
            <br>
            <input type="password" placeholder="Enter password">
            <br>
            <button class="submit btn">Submit</button>
        </form>
    </div>
</body>
</html>